{
	admin off
	auto_https off
	persist_config off
	log {
		output stdout
		format console
	}
}

:8080 {
	encode zstd gzip

	@pocketbase path /api/* /_/*
	handle @pocketbase {
		reverse_proxy 127.0.0.1:8090
	}

	handle {
		reverse_proxy 127.0.0.1:3000
	}
}
